{% extends "layout.html" %}

{% block main %}

    <div style="margin-bottom: 20px">
            <a class="btn btn-success" href="{{url_for('download')}}">Download</a>
    </div>

    <table id="table" class="display" style="width:100%">
        <thead>
            <tr>
                {% for fieldname in table.fieldnames %}
                    <th> {{ fieldname }} </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in table %}
                    <tr>
                        {% for fieldname in table.fieldnames %}
                            <td> {{ row[fieldname] }} </td>
                        {% endfor %}
                    </tr>
            {% endfor %}
        </tbody>
    </table>


    <!-- https://datatables.net/examples/basic_init/zero_configuration.html -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#table').DataTable();
        });
    </script>

{% endblock %}
