{% extends "layout.html" %}

{% block title %}
Portfolio
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <!-- {% for header in headers %}
            {% if header == "Symbol" or header == "Name" %}
            <th class="text-start"> {{ header }} </th>
            {% else %}
            <th class="text-end"> {{ header }} </th>
            {% endif %}
            {% endfor %} -->
            <th class="text-start"> {{ headers[0] }} </th>
            <th class="text-start"> {{ headers[1] }} </th>
            <th class="text-end"> {{ headers[2] }} </th>
            <th class="text-end"> {{ headers[3] }} </th>
            <th class="text-end"> {{ headers[4] }} </th>
        </tr>
    </thead>
    <tbody>
        {% for row in table %}
        <tr>
            <!-- {% for header in headers %}
            {% if row[header] %}
            <td> {{ row[header] }} </td>
            {% endif %}
            {% endfor %} -->
            <td class="text-start"> {{ row[headers[0]] }} </td>
            <td class="text-start"> {{ row[headers[1]] }} </td>
            <td class="text-end"> {{ row[headers[2]] }} </td>
            <td class="text-end"> {{ row[headers[3]] | usd }} </td>
            <td class="text-end"> {{ row[headers[4]] | usd }} </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
            <td class="border-0 text-end">{{ cash | usd }}</td>
        </tr>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
            <td class="border-0 w-bold text-end">{{ total | usd }}</td>
        </tr>
    </tfoot>
</table>
{% endblock %}